* {
    margin: 0;
    padding: 0;
    background: #143250;
    color: #FFFFFF;
    
}

body, h1, ol{
    background-color: #234B73;
}

nav, nav ul, nav ul li, nav ul li a{
    background: #052240;
}

 nav{
    text-align: center;
    padding-bottom: 2px;
    padding-top: 2px;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    position: relative;
    top: 0;

}

nav li{
    display: inline;    
    padding: 0 5%;
    margin: 50px;
    
}

.balikkana h1{
    text-align: center;
    width: 100%;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    position: relative;
    top: 0px;
    font-family: ;
    background-color: #052240;
    background: #052240;
}

.missu {
    background-color: #234B73;    
    position: relative;
    top: 0px;
    margin: 25px;
    padding: 5px;
}

.missu li{
    font-size: 0.8em;
    border: 1px solid #ccc;
    background: #042A52;
    font-family: arial;
}

.bienerist {
    border: 1px solid #ccc;
    position: relative;
    top: 0px;
    margin: auto;
    width: 100%;
    font-size: 50%;
}

.bienerist th,td{
    padding:2px;
    border: 0.5px solid #ccc;
    text-align: center;
    background: #042A52;
    font-family: arial;
    font-size: 10px;
}

footer {
    margin: 20px 0 0 0;
    background: #143250;
    width: 100%;
    height: 100px;
    position: relative;
    bottom: 0;
    padding: 20px 0 0 0;
 }
 
 a{
     text-decoration: none;
     outline: none;
 }
 
 footer a, footer  img, .socials, .pabida{
     text-decoration: none;
     outline: none;
     width: 40px;
     height: 40px;
     border-radius: 40px;
     margin: 0 10px 10px 10px;
     display: flex;
     position: relative;
 }